/*event*/

body{
  font-family: sans-serif;
  background-color: #bdc3c7;
  font-size: 25px;
}

nav { 
  box-shadow: 0px 5px 5px;
  border: 1px solid black;
}

.titre, .sousTitre{
  padding: 25px;
}

main>section>hr{ 
  margin: auto;
  width: 75%;
  box-shadow:0px 0px 8px 3px;
}

.Affiche, Video, .dernierImage{
  margin: 50px 0 50px 0;
  text-align: center;
  box-shadow: 0px 0px 15px 5px;
}

#logo{
  margin-left: 100px;
}

p{
  font-size: 16px;
  padding: 10px;
}

ul{
  width: 600px;
  margin: auto;
}

@media screen and (min-width:640px){
  section{
    margin: 0 100px;
  }
  p{
  font-size: 21px;
  } 
}

.contact{
  margin-left: 150px;
  padding: 40px;
  justify-content: center;
}

#assoc{
  margin-top: 25px;
  box-shadow: 0px 0px 15px 5px;
}

footer{
  background-color: #227093;
}

.change-color{
  fill: #48dbfb;
}

.carousel{
  width: 75%;
  margin: auto;
  box-shadow: 0px 0px 15px 5px;
}


/* association*/

.village  {
  padding: 25px;
}

.jardin{
padding: 25px;
}

.img-responsive{
 margin-left: 50px;
}

.footer-assoc{
  box-shadow: 0px 0px 15px 5px;
}